{% extends "medicAI/layout.html" %}

{% block body %}


<div class="container" style="margin-top: 1rem; margin-bottom: 3rem; width: 50%;">
    <div class="list-group">
        {% for diagnosis in data %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ diagnosis.diagnosis }}</h5>
                    <small>{{ diagnosis.accuracy }} %</small>
                </div>
                <small>{{ diagnosis.medical_term }}</small>
                <p class="mb-1">
                    <ul>
                        {% for item in diagnosis.suggested_tests%}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </a>
        {% endfor %}
      </div>
</div>


  {% endblock %}