{% extends "medicAI/layout.html" %}

{% block body %}


<div class="container" id="diagnosis-list">
    <div class="list-group">
        {% for diagnosis in data %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ diagnosis.diagnosis }}</h5>
                    <small><b>{{ diagnosis.accuracy }} %</b></small>
                </div>
                <small>{{ diagnosis.medical_term }}</small>
                <p class="mb-1">
                    <ul>
                        {% for item in diagnosis.suggested_tests%}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </a>
        {% endfor %}
        <a class="nav-link link-light" href="{% url 'patientinfo' patient_id=patient_id %}">
            <button type="button" class="btn btn-primary">Return to Patient
                <i class="fa-solid fa-notes-medical"></i>
            </button>
        </a>
    </div>
</div>

<button class="my-button">Click me</button>

  {% endblock %}