{% extends "medicAI/layout.html" %}

{% block body %}
<div class="container" style="margin-top: 1rem; margin-bottom: 3rem;">
    <form action="/patientinfo/{{patient.id}}/edit" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 1rem;">
                    <div class="card-body">
                        <h5 class="card-title text-muted" style="font-size: 15px; font-weight: bold;">PATIENT</h5>
                        <ul class="list-group">
                            <li class="list-group-item text-muted">
                                <span style="float: left;">NAME</span>
                                <span style="float: right;">{{ patient.first_name }}</span>
                            </li>
                            <li class="list-group-item text-muted">
                                <span style="float: left;">FAMILY NAME</span>
                                <span style="float: right;">{{ patient.last_name }}</span>
                            </li>
                            <li class="list-group-item text-muted">
                                <span style="float: left;">DOB</span>
                                <span style="float: right;">{{ patient.dob }}</span>
                            </li>
                            <li class="list-group-item text-muted">
                                <span style="float: left;">SEX</span>
                                <span style="float: right;">{{ patient.sex }}</span>
                            </li>
                            <li class="list-group-item text-muted">
                                <span style="float: left;">HEIGHT (cm)</span>
                                <span style="float: right;">{{ patient.height }}</span>
                            </li>
                            <li class="list-group-item text-muted">
                                <span style="float: left;">WEIGHT (kg)</span>
                                <span style="float: right;">{{ patient.weight }}</span>
                                </li>
                            <li class="list-group-item text-muted">
                                <span style="float: left;">BLOOD TYPE</span>
                                <span style="float: right;">{{ patient.blood_type }}</span></li>
                            <li class="list-group-item text-muted" style="display: inline-block;">
                                <h6 style="float: left;">Visits:</h6>
                                <ul class="list-group" style="list-style-type: none; padding-left: 0;float: right;">
                                    {% for visit in visit_list %}
                                    <li>{{ visit.symptom_start_date }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <br/>
                        <h5 class="card-title text-muted" style="font-size: 15px; font-weight: bold;">CONTACT</h5>
                        <ul class="list-group">
                            <li class="list-group-item text-muted"><span style="float: left;">OHIP</span><span style="float: right;">{{ patient.ohip }}</span></li>
                            <li class="list-group-item text-muted"><span style="float: left;">ADDRESS</span><span style="float: right;">{{ patient.address }}</span></li>
                            <li class="list-group-item text-muted"><span style="float: left;">PHONE</span><span style="float: right;">{{ patient.phone_number }}</span></li>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="margin-bottom: 1rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 15px; font-weight: bold;">VISIT DETAILS</h5>
                        <ul class="list-group">
                            <!-- <li class="list-group-item">ACUITY: <input type="text" class='form-control' name="acuity"  value="{{ current_visit.acuity }}"></li> -->
                            <li class="list-group-item">ACUITY
                                <input type="radio" id="one" name="acuity" value="1" {% if current_visit.acuity == '1' %} checked {% endif %}>
                                <label for="one">1</label>
                                <input type="radio" id="two" name="acuity" value="2" {% if current_visit.acuity == '2' %} checked {% endif %}>
                                <label for="two">2</label>
                                <input type="radio" id="three" name="acuity" value="3" {% if current_visit.acuity == '3' %} checked {% endif %}>
                                <label for="three">3</label>
                                <input type="radio" id="four" name="acuity" value="4" {% if current_visit.acuity == '4' %} checked {% endif %}>
                                <label for="four">4</label>
                                <input type="radio" id="five" name="acuity" value="5" {% if current_visit.acuity == '5' %} checked {% endif %}>
                                <label for="five">5</label><br>
                            </li>
                            <li class="list-group-item">TEMPERATURE: <input min="30" max="42" type="number" class='form-control' name="temperature" step=0.5 value="{{ current_visit.temperature }}"></li>
                            <li class="list-group-item">HEART RATE: <input min="30" max="220" type="number" class='form-control' name="heart_rate" value="{{ current_visit.heart_rate }}"></li>
                            <!-- <li class="list-group-item">SEEN NURSE: <input type="text" class='form-control' name="seen_nurse" value="{{ current_visit.seen_nurse }}"> -->
                            <li class="list-group-item">SEEN NURSE:
                                <input type="radio" id="true" name="seen_nurse" value="True" {% if current_visit.seen_nurse %} checked {% endif %}>
                                <label for="true">True</label>
                                <input type="radio" id="false" name="seen_nurse" value="False" {% if not current_visit.seen_nurse %} checked {% endif %}>
                                <label for="false">False</label><br>
                            </li>
                            {{patient.seen_nurse}}

                            <li class="list-group-item">SYMPTOM START: 
                                <div class="col-sm-4">
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control"
                                            name="symptom_start" value="{{ current_visit.symptom_start_date }}">
                                        <span class="input-group-append">
                                            <span class="input-group-text bg-white">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <!-- <input type="date" class="form-control" value="{{ current_visit.symptom_start_date }}"> -->
                            </li>
                            <li class="list-group-item">SYMPTOMS:<textarea class='form-control' name="symptoms">{{ current_visit.symptoms }}</textarea></li>
                            
                            <button class="btn btn-primary btn-sm" style="margin-top: 1rem;" type="submit"><i class="fas fa-pencil-alt"></i> Update </button>     
                            <a href="{% url 'patientinfo' patient_id=patient.id %}" class="btn btn-warning btn-sm" style="margin-top: 1rem;"><i class="fas fa-chevron-left"></i> Cancel </a>
                            
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            <h5 class="card-title" style="font-size: 15px; font-weight: bold;">NOTES</h5>
                            <textarea class='form-control' name="diagnosis">{{ current_visit.diagnosis }}</textarea>
                            <h5 class="card-title" style="font-size: 15px; font-weight: bold; margin-top: 1rem;">PRESCRIPTION</h5>
                            <textarea class='form-control' name="prescription">{{ current_visit.prescription }}</textarea>
                        </ul>
                        <ul class="list-group">
                            <h5 class="card-title" style="font-size: 15px; font-weight: bold; margin-top: 1rem;">TESTS</h5>
                            {% for test in tests %}
                                <li class="list-group-item">{{ test.test_name }}
                                    <button type="button" class="btn btn-primary btn-sm test-delete">
                                        <i class="fa-solid fa-trash test-delete"></i>
                                    </button>
                                </li>
                                <!-- <button class="btn btn-primary btn-sm test-delete" style="margin-top: 1rem;"><i class="fa-solid fa-trash"></i></button></li> -->
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    $(function() {
        $('#datepicker').datepicker();

        var currentDate = "{{current_visit.symptom_start_date}}"
        $("#datepicker").datepicker("setDate", currentDate);

    });
</script>

{% endblock %}