{% extends "medicAI/layout.html" %}

{% block body %}
    <div class="container">
        <!-- Display the error message if there are no patients -->
        {% if message%}
        <p>{{message}}</p>
        {% endif %}

        <!-- Show all of the patients if they are in the database -->
        {% if patients %}
            {% for patient in patients %}
            <p>{{ patient.first_name }} {{patient.last_name}}</p>
            <br/>
            {% endfor %}
        {% endif %}


        {% if hospital_visits %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td class="col">ID</td>
                    <td class="col">Name</td>
                    <td class="col">Acuity</td>
                    <td class="col">Prepped</td>
                    <td class="col">Edit</td>
                </tr>
            </thead>
            {% for visit in hospital_visits %}
            <tr>
                <td>{{ visit.id }}</td>
                <td>{{ visit.patient.last_name }}, {{ visit.patient.first_name }}</td>
                <td>{{visit.acuity}}</td>
                <td>{{visit.seen_nurse}}</td>
                <td class=" text-left">
                    {% if visit.acuity == "1" %}
                    <a class="nav-link link-light" href="{% url 'patientinfo' patient_id=visit.patient.id %}">
                        <button type="button" class="btn btn-danger">
                            <i class="fa-solid fa-notes-medical"></i>
                        </button>
                    </a>
                    {% elif visit.acuity > "1" and "4" > visit.acuity %}
                    <a class="nav-link link-light" href="{% url 'patientinfo' patient_id=visit.patient.id %}">
                        <button type="button" class="btn btn-warning">
                            <i class="fa-solid fa-notes-medical"></i>
                        </button>
                    </a>
                    {% else %}
                    <a class="nav-link link-light" href="{% url 'patientinfo' patient_id=visit.patient.id %}">
                        <button type="button" class="btn btn-primary">
                            <i class="fa-solid fa-notes-medical"></i>
                        </button>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>


        
{% endblock %}