{% extends "medicAI/layout.html" %}

{% block body %}
<div class="container" style="margin-top: 1rem; margin-bottom: 3rem;">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="margin-bottom: 1rem;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 15px; font-weight: bold;">PATIENT</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span style="float: left;">NAME</span>
                            <span class="text-primary" style="float: right;">{{ patient.first_name }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">FAMILY NAME</span>
                            <span class="text-primary" style="float: right;">{{ patient.last_name }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">DOB</span>
                            <span class="text-primary" style="float: right;">{{ patient.dob }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">SEX</span>
                            <span class="text-primary" style="float: right;">{{ patient.sex }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">HEIGHT (cm)</span>
                            <span class="text-primary" style="float: right;">{{ patient.height }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">WEIGHT (kg)</span>
                            <span class="text-primary" style="float: right;">{{ patient.weight }}</span>
                            </li>
                        <li class="list-group-item">
                            <span style="float: left;">BLOOD TYPE</span>
                            <span class="text-primary" style="float: right;">{{ patient.blood_type }}</span></li>
                        <li class="list-group-item" style="display: inline-block;">
                            <h6 style="float: left;">Visits:</h6>
                            <ul class="list-group text-primary" style="list-style-type: none; padding-left: 0;float: right;">
                                {% for visit in visit_list %}
                                <li>{{ visit.symptom_start_date }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <br/>
                    <h5 class="card-title" style="font-size: 15px; font-weight: bold;">CONTACT</h5>
                    <ul class="list-group">
                        <li class="list-group-item"><span style="float: left;">OHIP</span><span class="text-primary" style="float: right;">{{ patient.ohip }}</span></li>
                        <li class="list-group-item"><span style="float: left;">ADDRESS</span><span class="text-primary" style="float: right;">{{ patient.address }}</span></li>
                        <li class="list-group-item"><span style="float: left;">PHONE</span><span class="text-primary" style="float: right;">{{ patient.phone_number }}</span></li>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="margin-bottom: 1rem;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 15px; font-weight: bold;">VISIT DETAILS</h5>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span style="float: left;">ACUITY</span>
                            <span class="text-primary" style="float: right;">{{ current_visit.acuity }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">TEMPERATURE</span>
                            <span class="text-primary" style="float: right;">{{ current_visit.temperature }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">HEART RATE</span>
                            <span class="text-primary" style="float: right;">{{ current_visit.heart_rate }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">SEEN NURSE</span>
                            <span class="text-primary" style="float: right;">{{ current_visit.seen_nurse }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">SYMPTOM START</span>
                            <span class="text-primary" style="float: right;">{{ current_visit.symptom_start_date }}</span>
                        </li>
                        <li class="list-group-item">
                            <span style="float: left;">SYMPTOMS</span>
                            <span class="text-primary" style="float: right;">{{ current_visit.symptoms }}</span>
                        </li>
                        
                        <a href="{% url 'editpatientinfo' patient_id=patient.id %}" class="btn btn-primary btn-sm" style="margin-top: 1rem;"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <a href="{% url 'patientlist' %}" class="btn btn-warning btn-sm" style="margin-top: 1rem;"><i class="fas fa-chevron-left"></i> Return To ER List</a>
    
                    </ul>
                </div>
            </div>
            <div class="card" style="border: none; border-radius: 5px; margin-bottom: 1rem;">
                <a href="{% url 'diagnosis' patient_id=patient.id %}" class="btn btn-primary btn-block"
                    style="background-color: #FC947E; color: black; padding: 15px 72px; border: none; border-radius: 5px; font-weight: bold; font-size: 15px;">
                    <i class="fas fa-stethoscope"></i> AI Diagnoses List
                </a>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 15px; font-weight: bold;">NOTES</h5>
                    <ul class="list-group">
                        <li class="list-group-item" style="height: 2rem;">{{ current_visit.diagnosis }}</li>
                    </ul>
                    <h5 class="card-title" style="font-size: 15px; font-weight: bold; margin-top: 1rem;">PRESCRIPTION</h5>
                    <ul class="list-group">
                        <li class="list-group-item" style="height: 2rem;"> {{ current_visit.prescription }}</li>
                    </ul>
                    <ul class="list-group">
                        <h5 class="card-title" style="font-size: 15px; font-weight: bold; margin-top: 1rem;">TESTS</h5>
                        {% for test in tests %}
                            <li class="list-group-item">- {{ test.test_name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}