{% extends "MedicAI/layout.html" %}

{% block body %}

    <!-- <div class="container">
        <br>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text", name="username", placeholder="Username">
            <input type="password", name="password", placeholder="Password">
            <input type="submit", value="Login">
        </form>

    </div> -->


    <div class="row" style="padding: 1rem;">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <div class="offset-md-4 col-md-4">
            <h2 style="margin-top: 2rem;">LOGIN</h2>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter Username"
                    id="username" required autofocus>
                </fieldset>
                
                <fieldset style="margin-top: 1rem;" class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter Password"
                    id="password" required>
                </fieldset>

                <fieldset style="margin-top: 1rem;" class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}