.card {
    border: none; 
    border-radius: 5px;
    background-color: #E8E5E4;
}

.display-text {
    color: grey;
    font-weight: 400;
}

.list-group-item {
    display: inline-block;
}

/* Adjust the sizing of the diagnosis list container */
#diagnosis-list {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.panel {
    padding: 10px;
    background-color: #f0f0f0;
    border: solid 1px #ccc;
    display: none;
}

.test-item:hover {
    color: grey;
}

/* Remove symptom column for phone size */
@media only screen and (max-width: 450px) {
    .disable-col {
        display: none;
    }
    #diagnosis-list {
        width: 100%;
    }
}