.card {
    border: none; 
    border-radius: 5px;
    background-color: #E8E5E4;
}

.display-text {
    color: grey;
    font-weight: 400;
}

.list-group-item {
    display: inline-block;
}

/* Adjust the sizing of the diagnosis list container */
#diagnosis-list {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Remove symptom column for phone size */
@media only screen and (max-width: 450px) {
    .disable-col {
        display: none;
    }
    #diagnosis-list {
        width: 100%;
    }
}