.card {
    border: none; 
    border-radius: 5px;
    background-color: #E8E5E4;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
}



.display-text {
    color: grey;
    font-weight: 400;
}

.list-group-item {
    display: inline-block;
}

#diagnosis-list {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Remove symptom column for phone size */
@media only screen and (max-width: 450px) {
    .disable-col {
        display: none;
    }
    #diagnosis-list {
        width: 100%;
    }
}